<mat-drawer-container autosize>
  <mat-drawer #drawer style="padding: 20px;" mode="side">
    <h3>Menu</h3>

    <mat-list>
      <mat-list-item> <a mat-button routerLink="/home">Home</a> </mat-list-item>
      <mat-list-item>
        <a mat-button routerLink="/about">About</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div>
    <mat-toolbar color="primary">
      <span>My Vehicle</span>
      <mat-toolbar-row>
        <button type="button" mat-button (click)="drawer.toggle()">
          Menu
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
