<div class="container">
  <h3>Register your Vehicle!</h3>

  <form novalidate [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
    <div>
      <mat-form-field>
        <mat-label>Vehicle brand</mat-label>
        <mat-select formControlName="vehicle_brand" required>
          <mat-option
            *ngFor="let currentBrand of brandOfVehicle"
            [value]="currentBrand.value"
          >
            {{ currentBrand.title }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="myForm.controls['vehicle_brand'].invalid"
          >You need to select one option.</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Name of the vehicle"
          formControlName="vehicle_name"
          required
        />

        <mat-error *ngIf="myForm.controls['vehicle_name'].invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Vehicle color</mat-label>
        <mat-select formControlName="vehicle_color" required>
          <mat-option
            *ngFor="let currentColor of colorsOfVehicle"
            [value]="currentColor.value"
          >
            {{ currentColor.title }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="myForm.controls['vehicle_color'].invalid"
          >You need to select one option.</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Number of the doors</mat-label>
        <mat-select formControlName="vehicle_doors" required>
          <mat-option
            *ngFor="let currentDoor of doorsOfVehicle"
            [value]="currentDoor.value"
          >
            {{ currentDoor.title }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="myForm.controls['vehicle_doors'].invalid"
          >You need to select one option.</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          type="number"
          matInput
          placeholder="Year of manufacture"
          formControlName="vehicle_year_manufacture"
          required
        />
        <mat-error *ngIf="myForm.controls['vehicle_year_manufacture'].invalid"
          >This field is required.</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Type of vehicle</mat-label>
        <mat-select formControlName="vehicle_type" required>
          <mat-option
            *ngFor="let currentType of typesOfVehicle"
            [value]="currentType.value"
          >
            {{ currentType.title }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="myForm.controls['vehicle_type'].invalid"
          >You need to select one option.</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <mat-checkbox
        style="margin: 0 10px;"
        [(ngModel)]="vehicleNewOrNot"
        formControlName="vehicle_new"
        >Is your vehicle new?</mat-checkbox
      >
    </div>

    <div>
      <button mat-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
